body { 
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}
.logo{
    margin-top: 5px;
}
.header{
    background-color:#008080;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    height: inherit;
}
.menu{
    height: inherit;
    display: flex;
    align-items: center;
}
.header ol{
    display: flex;
    height: inherit;
    align-items: center;
}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;  
}
.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.principal{
    height: 300px;
    background-color:#008080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagenPrincipal{
    object-fit: cover;
}
h1{
    color: white;
}

#strong2{
    color:#AFFFA3;   
}

strong{
    color:#008080;   
}

h2{
    color: #008080;
    font-size: 24px;
}

.acercaDeMi{
    background:white;
    padding: 20px;
}

.sobreMi{
    border: 3px solid #eef33d ;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descripcion-SobreMi{
    font-size: 20px;
}

.titulo-SobreMi{
    font-size: 30px;
}

.lista-masSobreMi{
    display: flex;
    flex-wrap: wrap;

}

.masSobreMi{
    width: 480px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: o;
    background:#AFFFA3 ;
}

.imagen-masSobreMi{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.detalle-masSobreMi{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.contacto{
    background-color:#008080 ;
    color: white;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;   
}

.link-social{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.link-social.facebook{
    background-size: 50px 50px;
    background-image: url("https://img.icons8.com/bubbles/50/000000/facebook.png");
}

.link-social.instagram{
    background-size: 50px 50px;
    background-image: url("https://img.icons8.com/bubbles/50/000000/instagram.png");
}

.formulario-email input{
    border-color:#AFFFA3 ;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border-style: solid;
}

.formulario-email button{
    display: block;
    background-color:transparent;
    border-color:#AFFFA3 ;
    border-radius: 5px;
    width: 100px;
    padding: 10px 0;
    margin-top: 10px;
}

.footer{
    background-color:#008080 ;
    color: #AFFFA3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fjalla One', sans-serif;
}